* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.bg-img {
    content: "";
    background-image: linear-gradient(rgba(0, 0, 0, 0.47), rgba(0, 0, 0, 0.5)), url("../img/working.jpg");
    height: 150vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0px;
    z-index: -1;
    /* filter:brightness(70%); */
}

nav {

    background: black;
    display: flex;
    align-items: center;
    height: 90px;
    width: 100%;
    font-size: 20px;

    align-content: center;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;

}

nav ul {

    display: flex;
    flex-wrap: wrap;
    list-style: none;

}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.3s;
    border-bottom: 5px;
}

nav li:hover::after {
    width: 75%;
}

.hero-main-page {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 35px;
    z-index: 1;
    width: 100%;
    padding: 0 30px;
    margin-top: 50px;
    color: white;
}


#host-event,
#find-event {

    margin: 1em;
    background: black;
    border-radius: .25em;
    font-style: none;
    font-size: 25px;
    color: #fff;
    width: 300px;
    list-style: none;

}

button {
    width: 100%;
    background-color: #007bff;

    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}
/***************************************************************************/
/*Categories styles*/

.main-content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: brightness(80%);
    margin: 1em;
}

.main-content h1 {
    color: #fff;
    margin-top: 20px;
    font-size: 40px;
}

.section-one,
.section-two {

    display: flex;
    /* justify-content: space-around; This ensures space between items */
    flex-wrap: wrap; /* This allows items to wrap to the next line */
    padding: 3em 0;
    gap: 2em;
    clear: both;
    justify-content:center; /*Adjust for smaller screens*/

}





img {
    object-fit: cover;
    margin: 2em;
    border-radius: .5em;
}

@media screen and (max-width: 768px) {
    nav ul li a {
        font-size: 20px;
    }
    /* Other responsive styles...  */
}

 @media screen and (max-width: 768px) {
  .work {
    height: 400px;
  }
}

@media screen and (max-width: 480px) {
  .work {
    height: 270px;
  }
} 

 .desc {
  display: table-cell; 
  vertical-align: middle;
  height: 250px;
  background: #ede5e5;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
}

.work .desc h3 {
  font-size: 25px;
  padding: 100px; 
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translate3d(0, 15px, 0);
  transform: translate3d(0, 15px, 0);
  color: #999999;
  display:block;
}


@media screen and (max-width: 768px) {
  .work .desc {
    /* opacity: 1; */
    background: rgba(255, 255, 255, 0.6);
  }

  .work .desc h3 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  
}

.work:hover .desc {
  opacity: 1;
}

.work:hover .desc h3 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.work {
    display:block;
    background-size:cover;
    background-position:center;
    height: 250px; /* Adjust as needed */
    position: relative;
    width: 100%; /* Full width of the parent */
}
/* updating css file*/