<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Find event</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/location-page.css') }}">  
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
  </head>

  <body>
    <nav id="nav-bar">
      <div>
        <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('form') }}">Host Event</a></li>
          <li><a href="{{ url_for('location') }}">Event Finder</a></li>
          <li><a href="{{ url_for('events') }}">Events</a></li>
          <li><a href="{{ url_for('categories') }}">Trending Events</a></li>
        </ul>
      </div>
    </nav>
    <div class="bg-img">
      <!-- Search Form -->
      <div class="container">
      <form id="searchForm" class="search-form">
          <h2>Find Events</h2>
          
          <label for="eventDate">Date:</label>
          <select id="eventDate" name="eventDate">
          </select>

          <label for="eventCity">City:</label>
          <select id="eventCity" name="eventCity">
          </select>

          <label for="eventAddress">Address:</label>
          <select id="eventAddress" name="eventAddress">
          </select>

          <button type="submit">Search</button>
      </form>

      <div id="searchResults">
      </div>
    </div>
  </div>
</body>
</html>

